{% extends "public.html" %}

{% block title %}
    About
{% endblock %}

{% block content %}
    <h3>关于业务线监控系统：</h3>
    <p>基于django和bootstrap开发框架.</br>
    为了实现业务线监控管理，包含以下功能：</p>



    <a>用户：</a>
    1.修改密码
    2.添加用户
    3.修改用户
    4.删除用户

    </br>
    <a>角色：</a>
    1.新建角色
    2.角色列表
    3.编辑角色
    4.删除角色
    </br>
    <a>权限：</a>
    1.新建权限
    2.权限列表
    3.编辑权限
    4.删除权限
    </br>
    <a>业务线监控管理系统：</a>
    1.新增业务线应用
    2.业务线常规监控(1,2,3,6,12,24小时)
    3.业务线自定义监控
    4.报警方式：邮件，微信


{% endblock %}