{% extends "public.html" %}
{% load AppFilter %}
{% block title %}
    Home
{% endblock %}

{% block content %}

  <div class="starter-template">
        <h3 align="center">业务线监控</h3>

    </div>


    <div>
    <table width="1014" border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#FFFFFF" class="searchtable">
<form id="SearchForm" name="SearchForm" method="get" action="/webmonitor/monitordata/">
  <tr>
    <td height="88" align="right"><label>
      选择业务应用：<select name="appid" id="appid" onchange="Reloaddate();">
	{% for app in MonitorAppInfoobj %}
		{% if  MonitorAppInforow %}
			{% ifequal app.id  MonitorAppInforow.id %}
				<option value="{{app.id}}" selected>{{app.appname}}({{app.isp}})</option>
			{% else %}
				<option value="{{app.id}}" >{{app.appname}}({{app.isp}})</option>
			{% endifequal %}
		{% else %}
			<option value="{{app.id}}" >{{app.appname}}({{app.isp}})</option>
		{% endif %}
	{% endfor %}
      </select><font color="#FF0000">*</font>
    </label></td>
    <td align="center">
起始时间：<input readonly="true" name="StartTime" type="text" id="StartTime" onfocus="WdatePicker({skin:'whyGreen',dateFmt:'yyyy-MM-dd HH:mm:ss',minDate:'2010-11-18 00:00:00'})" value="{%  ifequal UserFind '1' %}{{StartTime|result_datetime}}{%endifequal%}">
&nbsp;&nbsp;结束时间：<input readonly="true" name="EndTime" type="text" id="EndTime" onfocus="WdatePicker({skin:'whyGreen',dateFmt:'yyyy-MM-dd HH:mm:ss',minDate:'2010-11-18 00:00:00'})" value="{%  ifequal UserFind '1' %}{{EndTime|result_datetime}}{%endifequal%}">
&nbsp;&nbsp;&nbsp;&nbsp;<input type="button" name="Submit" id="sys_run_button" value=" 开始监控 "  onclick="javascript:CheckSearchForm();"/></td>
    </tr>
</form>
</table>
    </div>





 <table width="1014" border="0" align="center" cellpadding="1" cellspacing="1" bgcolor="#cccccc">
  <tr class="TitleText">
    <td height="28" align="center" bgcolor="#808080">DNS解析时间(s)</td>
    <td height="28" align="center" bgcolor="#808080">建立连接时间(s)</td>
    <td height="28" align="center" bgcolor="#808080">准备传输时间(s)</td>
    <td height="28" align="center" bgcolor="#808080">开始传输时间(s)</td>
    <td height="28" align="center" bgcolor="#808080">传输总时间(s)</td>
    <td height="28" align="center" bgcolor="#808080">HTTP状态</td>
    <td height="28" align="center" bgcolor="#808080">下载数据包大小(byte)</td>
    <td height="28" align="center" bgcolor="#808080">平均下载速度(byte/s)</td>
    <td height="28" align="center" bgcolor="#808080">探测时间</td>
  </tr>
{% for contact in contacts.object_list %}
  <tr>
    <td height="25" align="right" bgcolor="#FFFFFF">{{contact.NAMELOOKUP_TIME}}</td>
    <td height="25" align="right" bgcolor="#FFFFFF">{{contact.CONNECT_TIME}}</td>
    <td height="25" align="right" bgcolor="#FFFFFF">{{contact.PRETRANSFER_TIME}}</td>
    <td height="25" align="right" bgcolor="#FFFFFF">{{contact.STARTTRANSFER_TIME}}</td>
    <td height="25" align="right" bgcolor="#FFFFFF">{{contact.TOTAL_TIME}}</td>
    <td height="25" align="center" bgcolor="#FFFFFF">{{contact.HTTP_CODE}}</td>
    <td height="25" align="center" bgcolor="#FFFFFF">{{contact.SIZE_DOWNLOAD}}</td>
    <td height="25" align="center" bgcolor="#FFFFFF">{{contact.SPEED_DOWNLOAD}}</td>
    <td height="25" align="center" bgcolor="#FFFFFF">{{contact.DATETIME|result_datetime}}</td>
  </tr>
{% endfor %}
</table>
<br>


 {% include "paginator.html" %}
{% endblock %}
